@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7abd7c;
  --color-lighter-gray: #b1b5b1;
  --color-light-gray: #7b7b7b;
  --color-dark-gray: #222222;
  --dimen-header-height: 64px;
}

/*           CSS RESET        */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
